---
import Layout from '../layouts/Layout.astro';
import { Planner } from '../components/planner/Planner';
---

<Layout title="Personal Planner.">
	<main>
		<h1>This is a planner.</h1>
        <Planner client:load />
	</main>
</Layout>